<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<div id="task_wrapper">
 	<% @tasks.each do |task| %>
 		<p>asdadsasdsadadad</p>
  		<p><%= task.name %></p>
 	<%end%>
 
</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
