 <html lang="en">
    <head>
      <title>Placeholder</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <%= stylesheet_link_tag "nachalna_css.css",  :media => "all" %>
      <%= javascript_tag ("https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css") %>
      <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" %>
      <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" %>
      <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" %>
    </head>

    <body>
      <div class="bg">
        <nav  class="navbar">
          <a class="nav-link" href="/users/sign_in">Signin</a>
          <a class="nav-link" href="/users/sign_up">Signup</a>
          <a class="nav-link" href="/users/panel">User Panel</a>
        </nav>
        <br>      
        <div class="text-center">
          <div class="jumbotron">
            <p>Placeholder</p>
          </div>
        </div>
        <br>
        <br>
        <br>
        <div class="container">
          <div class="cards">
            <div class="row row-centered">
              <span class="card" id="card1">
                <h3 class = "title"><strong>Work in team</strong></h3>
                <p id="text1">Organize your team's projects, work stuff and vacations easy with Placeholder :))) </p>
              </span>
              <span class="card" id="card2">
                <h3 class = "title"><strong>Organize</strong></h3>
                <p id="text2">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
              </span>
              <span class="card" id="card3">
                <h3 class = "title"><strong>Track your project state</strong></h3>        
                <p id="text3">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
              </span>
            </div>
          </div>
        </div>
    </div>
    <footer>
      <p>© 2019 Simko&Ellie All Rights Reserved</p>
    </footer>
  </body>
</html>