<head>
	<style>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<%= stylesheet_link_tag "project_show.css", :media => "all" %>
		<%= javascript_tag ('https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css') %>
	</style>
	<link rel="stylesheet" href="~/css/kanban.css" />
</head>
<body class="bg" style="font-family: Bender; background-color: #0b0c10">
	<header style="background-color: #1f2833">
		<a href="/users/panel" class="previous round">&#8249;</a>
		<br>
		<div class="row">
			<div class="col text-center" style="color: #66fcf1; font-size: 50px">
				<strong id="title">Project:</strong> <%= @project.title %>
			</div>
		</div>
		<br>
		<br>
		<d iv class="row">
			<div id="description" class="col-lg text-center" style="color: #66fcf1">
				<button style="color: #66fcf1" bgcolor="#0b0c10" type="button"class="btn" data-toggle="collapse" data-target="#dsc">
					Project description
				</button>
				<div id="dsc" class="collapse">
					<%= @project.description %>
				</div>
			</div>
			<div id="members" class="col-lg text-center" style="color: #66fcf1">
				<button style="color: #66fcf1" bgcolor="#0b0c10" type="button" class="btn" data-toggle="collapse" data-target="#users">
					Project members
				</button>
				<div id="users" class="collapse">
					tuk sa member-ite
				</div>
			</div>
		</div>
		<br>
		<br>
	</header>	
	<div class="container">
		<br>
		<br>
		<br>
		<br>
		<div>
			<div id="kaban">
			  <div id="scroller">
				<div id="boards" class="row">
				  <div class="board col-6 col-md-4 handle" id="board1" >
					<h2 style="color: #66fcf1">Tasks to do:</h2>
					<div class="cards" id="b1">
							<% @tasks.each do |task| %>
								<div class="card">
									<span class="cardtitle noselect">
									
										<div class="card heading">
											<h5 class="card-header primary-color white-text"><%= task.name %></h5>
											<div class="card-body">
											<p class="card-text">
												<strong>Description: </strong>
												<%= task.description %><br>
												<strong>Priority: </strong>
												<%= task.priority %><br>
												<strong>Deadline: </strong>
												<%= task.deadline %><br></p>
											</div>
										</div>
										
									</span>
								</div>
							<%end%>
							<button style="color: #66fcf1" bgcolor="#0b0c10" type="button" class="btn" data-toggle="modal" data-target="#task">Create task</button>
							<div id="task" class="modal fade" role="dialog">
							  <div class="modal-dialog modal-lg">
							   <div class="modal-content">
								  <div class="modal-header">
									<h4 class="modal-title">New Task</h4>
								  </div>
								  <div class="modal-body">
									<%= render 'tasks/form', project: @project%>  
								  </div>
								</div>
							  </div>
					  		</div>
					</div>
				  </div>
				  <div class="board col-6 col-md-4 handle" id="board2">
					<h2 style="color: #66fcf1">Tasks in progress:</h2>
					<div class="cards" id="b2">
						<div class="card test" style="opacity: 0"><span class="cardtitle noselect">A great card #5</span></div>
					</div>
				  </div>
				  
				  <div class="board col-6 col-md-4 handle" id="board3">
					<h2 style="color: #66fcf1">Tasks done:</h2>
					<div class="cards" id="b3">
						<div class="card test" style="opacity: 0"><span class="cardtitle noselect">A great card #5</span></div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		</div>
	</div>
</body>
<script>
		dragula([
			document.getElementById('b1'),
			document.getElementById('b2'),
			document.getElementById('b3')
		]);

		var element = document.getElementById("boards"); // Count Boards
		var numberOfBoards = element.getElementsByClassName('board').length;
		var boardsWidth = numberOfBoards*316 // Width of all Boards
		console.log(boardsWidth);
		element.style.width = boardsWidth+"px"; // set Width

		// disable text-selection
		function disableselect(e) {return false;}
		document.onselectstart = new Function ()
		document.onmousedown = disableselect
	</script>
