<head>
	<style>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <%= stylesheet_link_tag "project_show.css", :media => "all" %>
	    <%= javascript_tag ('https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css') %>
	</style>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-2.2.0.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="../node_modules/table-dragger/dist/table-dragger.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
		 	$('li').bind('dragstart', function(event) {
		    	event.originalEvent.dataTransfer.setData("text/plain",  event.target.getAttribute('id'));
			});

			$('ul').bind('dragover', function(event) {
			    event.preventDefault();
			});

			$('ul').bind('dragenter', function(event) {
			    $(this).addClass("over");
			});

			  $('ul').bind('dragleave drop', function(event) {
			    $(this).removeClass("over");
			  });

			  $('li').bind('drop', function(event) {
			    return false;
			  });

			  $('ul').bind('drop', function(event) {
			    var listitem = event.originalEvent.dataTransfer.getData("text/plain");
			    event.target.appendChild(document.getElementByClass(listitem));
			    event.preventDefault();
			  });
		});
	</script>
</head>
<body class="bg" style="font-family: Bender; background-color: #0b0c10">
	<header style="background-color: #1f2833">
		<a href="/users/panel" class="previous round">&#8249;</a>
		<br>
		<div class="row">
			<div class="col text-center" style="color: #66fcf1; font-size: 50px">
				<strong id="title">Project:</strong> <%= @project.title %>
			</div>
		</div>
		<br>
		<br>
		<div class="row">
			<div id="description" class="col-lg text-center" style="color: #66fcf1">
				<button style="color: #66fcf1" bgcolor="#0b0c10" type="button"class="btn" data-toggle="collapse" data-target="#dsc">
					Project description
				</button>
				<div id="dsc" class="collapse">
				    <%= @project.description %>
				</div>
			</div>
			<div id="members" class="col-lg text-center" style="color: #66fcf1">
				<button style="color: #66fcf1" bgcolor="#0b0c10" type="button" class="btn" data-toggle="collapse" data-target="#users">
					Project members
				</button>
				<div id="users" class="collapse">
				    tuk sa member-ite
				</div>
			</div>
		</div>
		<br>
		<br>
	</header>	
	<div class="container">
		<br>
		<br>
		<br>
		<br>
		<div class="row" id="board">
			<div class="col-6 col-md-4 handle">
				<h2 style="color: #66fcf1">Tasks to do:</h2>
					<ul id="todo">
						<% @tasks.each do |task| %>
						<li class="panel" draggable="true">
						<div class="card heading">
							<h5 class="card-header primary-color white-text"><%= task.name %></h5>
					      	<div class="card-body">
					        <p class="card-text">
					        	<strong>Description: </strong>
							    <%= task.description %><br>
							    <strong>Priority: </strong>
							    <%= task.priority %><br>
							    <strong>Deadline: </strong>
							    <%= task.deadline %><br></p>
					      	</div>
					    </div>
					    <br>
						<%end%> 
					</ul>
				<button style="color: #66fcf1" bgcolor="#0b0c10" type="button" class="btn" data-toggle="modal" data-target="#task">Create task</button>
				<div id="task" class="modal fade" role="dialog">
		          <div class="modal-dialog modal-lg">
		           <div class="modal-content">
		              <div class="modal-header">
		                <h4 class="modal-title">New Task</h4>
		              </div>
		              <div class="modal-body">
		                <%= render 'tasks/form', project: @project%>  
		              </div>
		            </div>
		          </div>
		        </div> 
			</div>
			<div style="padding-left:100px" class="col-6 col-md-4 handle">
				<h2 style="color: #66fcf1">Tasks in progress:</h2>
				<ul id="inprogress">
				</ul>
			</div>
			<div style="padding-left:100px" class="col-6 col-md-4 handle">
				<h2 style="color: #66fcf1">Finished tasks:</h2>
				<ul id="done">
				</ul>
			</div>
		</div>
	</div>
</body>
