 <html lang="en">
    <head>
      <title>Placeholder</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <%= stylesheet_link_tag "user_page.css",  :media => "all" %>
      <%= javascript_tag ("https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css") %>
      <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" %>
      <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" %>
      <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" %>
    </head>
    <body>
      <div class="bg">
        <section>
           <span class="sidebar">
          <a class="navbar-brand"><h3>Placeholder</h3></a>
          <br>
          <br>
            <button  type="button" class="btn btn-light" data-toggle="modal" data-target="#project">Create project</button>
            <button  type="button" class="btn btn-light" data-toggle="modal" data-target="#team">Create Team</button>
            <br>
            <button type="button" class="btn btn-light"> <%= link_to('Logout', destroy_user_session_path, method: :delete) %></button>
          </span>
        </section>
        <article>
          <div>
              <div class="text-center">
                <br>
                <h1>Hello there, <%= current_user.email %>!</h1>
              </div>
            <br>
            <br>
            <br>
            <br>
          <br>
            <%= render 'show' %>
            <br>
            <div id="project" class="modal fade" role="dialog">
              <div class="modal-dialog modal-lg">
               <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title center-block">New Project</h4>
                  </div>
                  <div class="modal-body">
                    <%= render 'projects/form', project: @project%>  
                  </div>
                  <div class="modal-footer">
                    <%= link_to 'Back', projects_path %>
                  </div>
                </div>
              </div>
            </div>   
            <%= render 'teams/show' %>
            <br>
            <div id="team" class="modal fade" role="dialog">
              <div class="modal-dialog modal-lg">
               <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title center-block">New Team</h4>
                  </div>
                  <div class="modal-body">
                    <%= render 'teams/form', team: @team%>
                  </div>
                  <div class="modal-footer">

                    <%= link_to 'Back', teams_path %>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </article>
      </div>
    </body>
</html>