 <html lang="en">
    <head>
      <title>Placeholder</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <%= stylesheet_link_tag "user_page.css",  :media => "all" %>
      <%= javascript_tag ("https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css") %>
      <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" %>
      <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" %>
      <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" %>
      <%= javascript_include_tag "switch.js" %>
    </head>
    <body>
      <div>
           <ul class="nav navbar-dark bg-dark">
            <li class="nav-item">
              <a class="navbar-brand"><h3 style="color: #66fcf1">Placeholder</h3></a>
            </li>
          <br>
          <br>
          <li class="nav-item">
            <button  style="color: #66fcf1" bgcolor="#0b0c10" type="button" class="btn btn-dark" data-toggle="modal" data-target="#project">Create project</button>
          </li>
          <li class="nav-item">
            <button  style="color: #66fcf1" bgcolor="#0b0c10" type="button" class="btn btn-dark" data-toggle="modal" data-target="#team">Create Team</button>
          </li>
            <br>
          <li id="switch" class="dark-mode">
            <button type="button" name="dark_light" onclick="toggleDarkLight()">🌛</button>
          </li>
          <li class="nav-item">
            <button style="color: #66fcf1" bgcolor="#0b0c10" class="btn btn-dark"> <%= link_to('Logout', destroy_user_session_path, method: :delete) %></button>
          </li>
          </ul>
          <div>
            <div class="hero-image">
                <div class="text-center">
                  <br>
                  <h1>Hello there, <%= current_user.email %>!</h1>
                </div>
                <br>
                <br>
                <br>
            </div>
            <br>
            <br>
            <br>
            <br>
          <br>
            <%= render 'show' %>
            <br>
            <div id="project" class="modal fade" role="dialog">
              <div class="modal-dialog modal-lg">
               <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title center-block">New Project</h4>
                  </div>
                  <div class="modal-body">
                    <%= render 'projects/form', project: @project%>  
                  </div>
                </div>
              </div>
            </div>   
            <%= render 'teams/show' %>
            <br>
            <div id="team" class="modal fade" role="dialog">
              <div class="modal-dialog modal-lg">
               <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title center-block">New Team</h4>
                  </div>
                  <div class="modal-body">
                    <%= render 'teams/form', team: @team%>
                  </div>
                </div>
              </div>
            </div> 
          </div>
      </div>
    </body>
</html>