 <html lang="en">
    <head>
      <title>Placeholder</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <%= stylesheet_link_tag "user_page.css",  :media => "all" %>
      <%= javascript_tag ("https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css") %>
      <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" %>
      <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" %>
      <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" %>
    </head>
    <body class="bg">
      <div>
        <nav class="navbar bg-dark navbar-dark">
          <div class="navbar-brand"><h3>Placeholder</h3></div>
           <button class="navbar-toggler"> <%= link_to('Logout', destroy_user_session_path, method: :delete) %> </button>
          </nav>
        <div class="container">
            <div class="col text-center">
              <br>
              <h1>Hello there, <%= current_user.email %>!</h1>
            </div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="row">
              <div class="col-md-4 center-block">
                <div class="card">
                  <!--<img src="images_005.png" alt="user" style="width:100%">-->
                  <div class="card-body">
                    <h1><%= current_user.name %></h1>
                    <p class="title"><h4>About</h4></p>
                  </div>
                </div> 
                <br>
                <br>
                <br>
              </div>
          </div>
          <div class="row">
            <div class="col-md-4 center-block">
                <ol type="1" >
                    <h1>Projects list:</h1>
                    <br>
                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#project">Create project</button>
                    <div id="project" class="modal fade" role="dialog">
                      <div class="modal-dialog modal-lg">
                       <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title center-block">New Project</h4>
                          </div>
                          <div class="modal-body">
                            <%= render 'projects/form', project: @project%>  
                          </div>
                          <div class="modal-footer">
                            <%= link_to 'Back', projects_path %>
                          </div>
                        </div>
                      </div>
                    </div>  
                </ol>
              </div>
            <div class="col-md-4 center-block">
              <ol type="1">
                  <h1>Team list:</h1>
                  <br>
                  <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#team">Create Team</button>
                  <div id="team" class="modal fade" role="dialog">
                      <div class="modal-dialog modal-lg">
                       <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title center-block">New Team</h4>
                          </div>
                          <div class="modal-body">
                            <%= render 'teams/form', team: @team %>
                          </div>
                          <div class="modal-footer">

                            <%= link_to 'Back', teams_path %>
                          </div>
                        </div>
                      </div>
                    </div> 
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="bg">
      </div>
    </body>
</html>